
:root {
  --color-grey-light: #3ac6a7;

  --color-grey-dark: #464646;

  --font: "Open Sans", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; 
}

body {
  font-family: var(--font);
  color: var(--color-grey-dark);
  font-weight: 400;
  line-height: 1.6;

}


.container{
    display: grid;
    grid-template-rows: repeat(2, min-content);
    align-content: center;
    justify-self: end;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;

}

.searchbar__container{
    display: flex;
    border-bottom: 2px solid blueviolet;
    padding: .5rem 2rem;
    align-items: center;
    min-width: 30rem;
}



